body {
  margin: 0;
  font-family: "Dela Gothic One", cursive;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  background-color: #E5E5E5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: #E5E5E5;
}
.btn-primary:hover {
  background-color: #f2f2f2;
}

.btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #E5E5E5;
}
.btn-outlined-primary:hover {
  background-color: #E5E5E5;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: #213F7D;
}
.btn-secondary:hover {
  background-color: #264991;
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #213F7D;
}
.btn-outlined-secondary:hover {
  background-color: #213F7D;
}

.btn-tertiary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: #39CDCC;
}
.btn-tertiary:hover {
  background-color: #4dd2d1;
}

.btn-outlined-tertiary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #39CDCC;
}
.btn-outlined-tertiary:hover {
  background-color: #39CDCC;
}

.btn-active {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: #39CD62;
}
.btn-active:hover {
  background-color: #4dd272;
}

.btn-outlined-active {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #39CD62;
}
.btn-outlined-active:hover {
  background-color: #39CD62;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: #E4033B;
}
.btn-error:hover {
  background-color: #fc0542;
}

.btn-outlined-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #E4033B;
}
.btn-outlined-error:hover {
  background-color: #E4033B;
}

.btn-pending {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: #E9B200;
}
.btn-pending:hover {
  background-color: #ffc404;
}

.btn-outlined-pending {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #E9B200;
}
.btn-outlined-pending:hover {
  background-color: #E9B200;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: white;
}
.btn-white:hover {
  background-color: white;
}

.btn-outlined-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid white;
}
.btn-outlined-white:hover {
  background-color: white;
}

nav {
  height: 50px;
  padding: 11px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: end;
  list-style: none;
  gap: 44px;
}
nav h1 {
  margin-right: auto;
}

.thebody {
  display: flex;
  flex-direction: row;
}

.search {
  margin: auto;
  width: 25%;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-left: -11%;
}

.search :first-child {
  width: 71%;
  margin-right: 9px;
}

.search button {
  width: 100%;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.navments {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.list-pad {
  padding: 10px;
}

.circle {
  border-radius: 999px;
}

.input-hgt {
  width: 75%;
  height: 42px;
}

.totals {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 15%;
  text-align: left;
  color: #213F7D;
  background-color: white;
  border-radius: 3px;
  box-shadow: 2px 10px 10px #E5E5E5;
  margin-right: 11px;
}
.totals img {
  border-radius: 999px;
  height: 35px;
  padding-top: 8px;
  margin-right: 64%;
}

.containTotal {
  display: flex;
  flex-direction: row;
}

.dash {
  font-size: 15px;
  display: flex;
  width: 17%;
  text-align: left;
  list-style: none;
  flex-direction: column;
  padding: 20px;
}
.dash h3 {
  margin-bottom: 40px;
}
.dash a {
  text-decoration: none;
  margin-bottom: 4px;
}

.icon {
  height: 16px;
  position: relative;
  top: 2px;
  padding-right: 4px;
}

.overlay-on {
  position: absolute;
  z-index: 1;
  height: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #E5E5E5;
}

.overlay-off {
  display: none;
}

.filter-on {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.filter-on form {
  flex-direction: column;
}
.filter-on div {
  flex-direction: row;
}

.filter-off {
  display: none;
}

.signin {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.signin img {
  position: absolute;
  top: 10%;
  left: 3%;
}
.signin .left-container {
  background: url(../assets/signInbg.png);
  width: 35%;
  height: 337.57px;
  margin: auto;
}
.signin .right-container {
  width: 35%;
  height: 473.57px;
  margin: auto;
  padding: 6px 17px;
}
.signin .right-container input {
  width: 80%;
  border: none;
  border: 1px solid #E5E5E5;
  height: 42px;
  margin-bottom: 24.5px;
  border-radius: 3px;
}
.signin .right-container p {
  margin-bottom: 24.5px;
}
.signin .right-container button {
  width: 80%;
}

.text-primary {
  color: #E5E5E5;
}

.text-secondary {
  color: #213F7D;
}

.text-tertiary {
  color: #39CDCC;
}

.text-active {
  color: #39CD62;
}

.text-error {
  color: #E4033B;
}

.text-pending {
  color: #E9B200;
}

.text-white {
  color: white;
}

th {
  cursor: pointer;
  text-align: left;
}

table {
  background-color: white;
  border-radius: 3px;
  box-shadow: 2px 10px 10px #E5E5E5;
}
table tr {
  border-bottom: 1px solid #213F7D;
}

.pagination {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: #213F7D;
}

.page-item {
  height: 19px;
  width: 16px;
  text-align: center;
  cursor: pointer;
  opacity: 0.5;
}

.page-link {
  height: 19px;
  width: 16px;
  text-align: center;
  cursor: pointer;
  background-color: #E5E5E5;
}

.pactive {
  opacity: 1;
}