body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: #E5E5E5;
}
.btn-primary:hover {
  background-color: #f2f2f2;
}

.btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #E5E5E5;
}
.btn-outlined-primary:hover {
  background-color: #E5E5E5;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: #545F7D;
}
.btn-secondary:hover {
  background-color: #5e6b8c;
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #545F7D;
}
.btn-outlined-secondary:hover {
  background-color: #545F7D;
}

.btn-tertiary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: #39CDCC;
}
.btn-tertiary:hover {
  background-color: #4dd2d1;
}

.btn-outlined-tertiary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #39CDCC;
}
.btn-outlined-tertiary:hover {
  background-color: #39CDCC;
}

.btn-active {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: #39CD62;
}
.btn-active:hover {
  background-color: #4dd272;
}

.btn-outlined-active {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #39CD62;
}
.btn-outlined-active:hover {
  background-color: #39CD62;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: #E4033B;
}
.btn-error:hover {
  background-color: #fc0542;
}

.btn-outlined-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #E4033B;
}
.btn-outlined-error:hover {
  background-color: #E4033B;
}

.btn-pending {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: #E9B200;
}
.btn-pending:hover {
  background-color: #ffc404;
}

.btn-outlined-pending {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #E9B200;
}
.btn-outlined-pending:hover {
  background-color: #E9B200;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: white;
}
.btn-white:hover {
  background-color: white;
}

.btn-outlined-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid white;
}
.btn-outlined-white:hover {
  background-color: white;
}

nav {
  height: 50px;
  padding: 0;
  margin: 0;
  position: absolute;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-left {
  float: left;
}

.nav-right {
  flex-direction: row;
  float: right;
}

.totals {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 15%;
  text-align: left;
  color: #545F7D;
  background-color: #E5E5E5;
}

.dash {
  display: flex;
  width: 20%;
  text-align: left;
  background-color: #E5E5E5;
  list-style: none;
}
.dash ul {
  flex-direction: column;
}

li:hover {
  background-color: #41cfce;
}

.overlay-on {
  position: absolute;
  z-index: 1;
  height: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #E5E5E5;
}

.overlay-off {
  display: none;
}

.filter-on {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.filter-on form {
  flex-direction: column;
}
.filter-on div {
  flex-direction: row;
}

.filter-off {
  display: none;
}

.signin {
  display: flex;
  flex-direction: row;
  background-color: #E5E5E5;
  margin: auto;
}
.signin .left-container {
  background: url(../assets/signInbg.png);
  background: no-repeat;
  height: 337.57px;
  width: 35%;
}
.signin .left-container img {
  float: left;
}
.signin .right-container {
  width: 35%;
  height: 337.57px;
}
.signin .right-container input {
  width: 80%;
  border: none;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
}
.signin .right-container button {
  width: 80%;
}

.text-primary {
  color: #E5E5E5;
}

.text-secondary {
  color: #545F7D;
}

.text-tertiary {
  color: #39CDCC;
}

.text-active {
  color: #39CD62;
}

.text-error {
  color: #E4033B;
}

.text-pending {
  color: #E9B200;
}

.text-white {
  color: white;
}