body {
  margin: 0;
  font-family: "Dela Gothic One", cursive;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  font-weight: 700;
  background-color: #E5E5E5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: #E5E5E5;
}
.btn-primary:hover {
  background-color: #f2f2f2;
}

.btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #E5E5E5;
}
.btn-outlined-primary:hover {
  background-color: #E5E5E5;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: #213F7D;
}
.btn-secondary:hover {
  background-color: #264991;
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #213F7D;
}
.btn-outlined-secondary:hover {
  background-color: #213F7D;
}

.btn-tertiary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: #39CDCC;
}
.btn-tertiary:hover {
  background-color: #4dd2d1;
}

.btn-outlined-tertiary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #39CDCC;
}
.btn-outlined-tertiary:hover {
  background-color: #39CDCC;
}

.btn-active {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: #39CD62;
}
.btn-active:hover {
  background-color: #4dd272;
}

.btn-outlined-active {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #39CD62;
}
.btn-outlined-active:hover {
  background-color: #39CD62;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: #E4033B;
}
.btn-error:hover {
  background-color: #fc0542;
}

.btn-outlined-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #E4033B;
}
.btn-outlined-error:hover {
  background-color: #E4033B;
}

.btn-pending {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: #E9B200;
}
.btn-pending:hover {
  background-color: #ffc404;
}

.btn-outlined-pending {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #E9B200;
}
.btn-outlined-pending:hover {
  background-color: #E9B200;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: white;
}
.btn-white:hover {
  background-color: white;
}

.btn-outlined-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid white;
}
.btn-outlined-white:hover {
  background-color: white;
}

nav {
  height: 50px;
  padding: 11px;
  background-color: white;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.thebody {
  display: flex;
  flex-direction: row;
  gap: 5%;
}
.thebody main div {
  margin-top: 51px;
}

.list-pad {
  padding: 22px;
  position: relative;
  bottom: 15px;
}

.circle {
  border-radius: 999px;
}

.input-hgt {
  position: relative;
  height: 28px;
  width: 184%;
  border: 1px solid #213F7D;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.li-1 {
  margin-right: -32px;
}

.li-2 {
  margin-left: 15%;
}

.li-3 {
  position: relative;
  left: 153px;
}
.li-3 button {
  border-radius: 0px;
  height: 32px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.li-4 {
  margin-left: 33%;
  text-decoration: underline;
}

.li-5 {
  bottom: 24px;
}

.li-6 {
  position: relative;
  bottom: 12px;
}

.totals {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 23%;
  text-align: left;
  color: #213F7D;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 7px 26px rgb(175, 167, 167);
  padding-left: 19px;
}
.totals img {
  border-radius: 999px;
  height: 35px;
  padding-top: 8px;
  margin-right: 79%;
}

.containTotal {
  display: flex;
  flex-direction: row;
  margin-bottom: 48px;
}

.totals-right {
  margin-right: 17px;
}

.dash {
  font-size: 10px;
  display: flex;
  width: 12%;
  text-align: left;
  list-style: none;
  flex-direction: column;
  padding: 20px;
  background-color: white;
}
.dash h3 {
  margin-bottom: 40px;
}
.dash a {
  text-decoration: none;
  margin-bottom: 4px;
}

.icon {
  height: 16px;
  position: relative;
  top: 2px;
  padding-right: 4px;
  width: 16px;
}

.overlay-on {
  position: absolute;
  z-index: 1;
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #E5E5E5;
}

.overlay-off {
  display: none;
}

.filter-on {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 75%;
  z-index: 1;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 7px 18px rgb(175, 167, 167);
  padding: 10px;
}
.filter-on form {
  display: flex;
  flex-direction: column;
}
.filter-on form label {
  margin-top: 20px;
}
.filter-on form input, .filter-on form select {
  border: 1px solid #213F7D;
  border-radius: 4px;
  height: 24px;
}
.filter-on div {
  display: flex;
  flex-direction: row;
  gap: 13px;
}
.filter-on div button {
  width: 100px;
}

.filter-off {
  display: none;
}

.signin {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.signin img {
  position: absolute;
  top: 10%;
  left: 3%;
}
.signin .left-container {
  background: url(../assets/signInbg.png);
  width: 35%;
  height: 337.57px;
  margin: auto;
}
.signin .right-container {
  width: 35%;
  height: 473.57px;
  margin: auto;
  padding: 6px 17px;
}
.signin .right-container input {
  width: 80%;
  border: none;
  border: 1px solid #E5E5E5;
  height: 42px;
  margin-bottom: 24.5px;
  border-radius: 3px;
}
.signin .right-container p {
  margin-bottom: 24.5px;
}
.signin .right-container button {
  width: 80%;
}

.text-primary {
  color: #E5E5E5;
}

.text-secondary {
  color: #213F7D;
}

.text-tertiary {
  color: #39CDCC;
}

.text-active {
  color: #39CD62;
}

.text-error {
  color: #E4033B;
}

.text-pending {
  color: #E9B200;
}

.text-white {
  color: white;
}

th {
  cursor: pointer;
  text-align: left;
}

h1 {
  font-weight: bold;
}

table {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 19px 36px rgb(175, 167, 167);
  border-collapse: separate;
  border-spacing: 21px;
}
table tr {
  position: relative;
  top: 6px;
}
table tr th {
  font-weight: bold;
}
table tr td {
  border-bottom: 1px solid #213F7D;
  cursor: pointer;
}

.pagination {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: #213F7D;
  list-style: none;
}

.page-item {
  height: 19px;
  width: 16px;
  text-align: center;
  cursor: pointer;
  opacity: 0.5;
}

.page-link {
  height: 19px;
  width: 16px;
  text-align: center;
  cursor: pointer;
  background-color: #E5E5E5;
}

.pactive {
  opacity: 1;
}

.Top {
  display: flex;
  flex-direction: column;
  background-color: #E5E5E5;
  border-radius: 3px;
  box-shadow: 0px 19px 36px rgb(175, 167, 167);
  margin-bottom: 40px;
}
.Top ul {
  list-style: none;
}
.Top .Top1, .Top .Top2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.Top .Top1 {
  margin-bottom: 40px;
}
.Top .Top1 li img {
  border-radius: 999px;
}
.Top .Top1 .left {
  border-right: 1px solid #213F7D;
}
.Top .Top1 .right {
  border-left: 1px solid #213F7D;
}
.Top .Top2:first-child {
  text-decoration: underline;
  color: #39CDCC;
}

.bottom {
  display: flex;
  flex-direction: column;
  background-color: #E5E5E5;
  border-radius: 3px;
  box-shadow: 0px 19px 36px rgb(175, 167, 167);
}
.bottom .btm {
  border-bottom: 1px solid #213F7D;
}
.bottom .btm ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}