.dash
{
  font-size: 10px;
  display: flex;
  width: 12%;
  text-align: left;
  list-style: none;
  flex-direction: column;
  padding: 20px;
  background-color: $base;
  h3 
  {
    margin-bottom: 40px;
  }
  a
   {
    text-decoration: none;
    margin-bottom: 4px;
  }
  // a.active 
  // {
  //   background-color: lighten($primary, 2);
  // }
}
.icon
{
  height: 16px;
  position: relative;
  top: 2px;
  padding-right: 4px;
  width: 16px;
}
