.dash
{
    display: flex;
    width: 20%;
    text-align: left;
    background-color: $primary;
    list-style: none;
    flex-direction: column;
    h3
    {
      margin-bottom: 40px;
    }
}


.active 
{  
  background-color: lighten($tertiary, 2)
}