@mixin props{
    display: flex;
    flex-direction: column;
    background-color: $primary;
    border-radius: 3px;
    box-shadow: 0px 19px 36px $shadow;
}
@mixin row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Top
{
    @include props;
    margin-bottom: 40px;
    li
    {
        width: 16%;
        text-align: center;
    }

    ul
    {
        list-style: none;
    }
    .Top1, .Top2
    {
        @include row;
    }
    .Top1
    {
        li
        {
            img
            {
                border-radius: $circle-border;
            }
        } 
        margin-bottom: 40px;
        .left
        {
            border-right: 1px solid lighten($secondary, 30%);
        }
        .right
        {
            border-left: 1px solid lighten($secondary, 30%);
        }
    }
    .child
    {
        border-bottom: 1px solid lighten($tertiary, 30%);
        color: $tertiary;
        height: 27px;
    }
}

.bottom
{
    @include props;
    padding: 15px;
    .btm
    {
        border-bottom: 1px solid lighten($secondary, 30%);
        ul
        {
            list-style: none;
            @include row;
            li
            {
                width: 17%;
            }
        }
    }
}
.mid, .right
{
    text-align: center;
}

.btns
{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 73%;
    bottom: 46px;
    gap: 10px;
    button
    {
        height: 40px;
        border-radius: 9px;
        background-color: transparent;
        border: 1px solid;
    }
}