nav
{
  height: 50px;
  padding: 11px;
  max-width: 100%;
  margin: 0 auto;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: end;
  list-style: none;
  gap: 44px;
  h1
{
  margin-right: auto;
}
}

.search
{
  margin: auto;
  width: 25%;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-left: -11%;
}
.search :first-child
{
  width: 71%;
  margin-right: 9px;
}

.search button 
{
  width: 100%;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.navments
{
  display: flex;
  flex-direction: row;
  list-style: none;
}

.list-pad
{
  padding: 10px;
}

.circle
{
  border-radius: $circle-border;
}

.input-hgt
{
  width: 75%;
  height: $btn_height_md;
}