nav
{
  height: 50px;
  padding: 11px;
  background-color: $base;
  ul
  {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
}

.thebody
{
  display: flex;
  flex-direction: row;
  gap: 5%;
  main
  {
    .text-secondary
    {
      margin-top: 51px;
    }
  }
}

.list-pad
{
  padding: 22px;
  position: relative;
  bottom: 15px;
}

.circle
{
  border-radius: $circle-border;
}

.input-hgt
{
  position: relative;
  height: $btn_height_xs - 2;
  width: 184%;
  border: 1px solid $secondary;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.li-1
{
  margin-right: -32px;
}
.li-2
{
  margin-left: 15%;
}
.li-3
{
  position: relative;
  left: 153px;
  button
  {
    border-radius: 0px;
    height: 32px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
  }
}
.li-4
{
  margin-left: 33%;
  text-decoration: underline;
}
.li-5
{
  bottom: 24px;
}
.li-6
{
  position: relative;
  bottom: 12px;
}