.overlay-on
{
    position: absolute;
    z-index: 1;
    height: auto;
    width: -moz-fit-content; 
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: $primary;
}

.overlay-off
{
    display: none;
}