$top_width: 35%;
@mixin container($hgt) {
    width: $top_width;
    height: $hgt;
    margin: auto;
}


.signin
{
    display: flex;
    flex-direction: row;
    height: 100vh;
    
    img
    {
        position: absolute;
        top: 10%;
        left: 3%;
    }

    .left-container
    {
        background: url(../assets/signInbg.png);
       @include container(337.57)
    }
    .right-container
    {
        input
        {
            width: 80%;
            border: none;
            border: 1px solid $primary;
            height: 42px;
            margin-bottom: 23px;
            border-radius: $base-border-radius;
        }
        p
        {
            margin-bottom: 23px;
        }
        button
        {
            width: 80%;
        }

        @include container(473.57);
        padding: 6px 17px;
    }
}

@each $key, $val in $colors {
    .text-#{$key} {
       color: $val;
    }
}    