$top_width: 35%;
@mixin container {
    width: $top_width;
    height: 337.57px;
    margin: auto;
}


.signin
{
    display: flex;
    flex-direction: row;
    background-color: $primary;
    
    img
    {
        float: left;
    }

    .left-container
    {
        background: url(../assets/signInbg.png);
       @include container()
    }
    .right-container
    {
        input
        {
            width: 80%;
            border: none;
            border: 1px solid $primary;
            height: 30px;
            margin-bottom: 12px;
            border-radius: $base-border-radius;
        }
        button
        {
            width: 80%;
        }

        @include container();
        padding: 6px 17px;
    }
}

@each $key, $val in $colors {
    .text-#{$key} {
       color: $val;
    }
}    