$top_width: 35%;



.signin
{
    display: flex;
    flex-direction: row;
    background-color: $primary;
    margin: auto;
    
    .left-container
    {
        background: url(../assets/signInbg.png);
        width: $top_width;
        img
        {
            float: left;
        }
    }
    .right-container
    {
        input
        {
            width: 80%;
            border: none;
            border: 1px solid $primary;
            border-radius: $base-border-radius;
        }
        button
        {
            width: 80%;
        }
        width: $top_width;
    }
}