.totals
{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 23%;
    text-align: left;
    color: $secondary;
    background-color: $base;
    border-radius: $base-border-radius;
    box-shadow: 0px 7px 26px $shadow;
    padding-left: 19px;
    img
    {
        border-radius: $circle-border;
        height: 35px;
        padding-top: 8px;
        margin-right: 79%;
    }
}
.containTotal
{
    display: flex;
    flex-direction: row;
    margin-bottom: 48px;
}
.totals-right
{
   margin-right: 17px;
}