.totals
{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 15%;
    text-align: left;
    color: $secondary;
    background-color: $base;
    border-radius: $base-border-radius;
    box-shadow: 2% 10px 10px $primary;
    img
    {
        border-radius: $circle-border
    }
}