.totals
{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 15%;
    text-align: left;
    color: $secondary;
    background-color: $base;
    border-radius: $base-border-radius;
    box-shadow: 2px 10px 10px $primary;
    margin-right: 11px;
    img
    {
        border-radius: $circle-border;
        height: 35px;
        padding-top: 8px;
        margin-right: 64%;
    }
}
.containTotal
{
    display: flex;
    flex-direction: row;
}