@mixin slider{
    height: 19px;
    width: 16px;
    text-align: center;
    cursor: pointer;
}
th
{
    img
    {
        cursor: pointer;
    }
}
table
{
    background-color: $base;
    box-shadow: 2% 10px 10px $primary;
    tr
    {
        border-bottom: $secondary;
    }
}
.pagination
{
    display: flex;
    flex-direction: row;
    background-color: $base;
    color: $secondary;
}
.page-item
{
    @include slider;
    opacity: 0.5;
}
.page-link
{
    @include slider;
    background-color: $primary;
}
.pactive
{
    opacity: 1;
}