@mixin slider{
    height: 19px;
    width: 16px;
    text-align: center;
    cursor: pointer;
}
th
{
    cursor: pointer;
    text-align: left;
    
}
h1
{
    font-weight: bold;
}
table
{
    background-color: $base;
    border-radius: $base-border-radius;
    box-shadow: 0px 19px 36px $shadow;
    border-collapse: separate;
    border-spacing: 21px;
    tr
    {
        position: relative;
        top: 6px;
       th
       {
        font-weight: bold;
       }
       td
       {
        border-bottom: 1px solid $secondary;
       }
    }
}
.pagination
{
    display: flex;
    flex-direction: row;
    background-color: $base;
    color: $secondary;
    list-style: none;
}
.page-item
{
    @include slider;
    opacity: 0.5;
}
.page-link
{
    @include slider;
    background-color: $primary;
}
.pactive
{
    opacity: 1;
}