@mixin slider{
    height: 19px;
    width: 16px;
    text-align: center;
    cursor: pointer;
}
th
{
    cursor: pointer;
    text-align: left;
    
}
table
{
    background-color: $base;
    border-radius: $base-border-radius;
    box-shadow: 0px 7px 26px $black;
    tr
    {
        border-bottom: 1px solid $secondary;
    }
}
.pagination
{
    display: flex;
    flex-direction: row;
    background-color: $base;
    color: $secondary;
}
.page-item
{
    @include slider;
    opacity: 0.5;
}
.page-link
{
    @include slider;
    background-color: $primary;
}
.pactive
{
    opacity: 1;
}